*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}
.contain{
    width:100%;
    height:50vh;
    background:rgb(255, 255, 255);
    background-size: cover;
    background-position: center;
    padding:0 8%;
    position: relative;
}
nav{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;
    background: linear-gradient(30deg,rgb(255, 255, 255),rgb(0, 148, 7));

}
.logo h1{
    width:30px;
    cursor: pointer;
    color: #fff;
    font-size: 50px;
    font-weight: bolder;
    background-color: #fff;

}
.cart-icon{
    width:30px;
    cursor:pointer;
}
nav ul{
    flex:1;
    text-align: right;
    padding-right: 30px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin:10px 30px;
}


nav ul li a{
    color:#fff;
    text-decoration:none;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
   
}

nav ul li a::after{
    content:'';
    width:0;
    height:3px;
    position: absolute;
    bottom:-5px;
    left:50%;
    transform:translateX(-50%);
    background: #fff;
    transition: width 0.3s;
}

nav ul li a:hover::after
{
     width:50%;

}


.container{
    width:100%;
    height: 1px;
    background:linear-gradient(30deg,rgb(255, 159, 70),rgb(243, 255, 74));
display:flex;
align-items:center;
display: grid;
    grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
    gap:10px;
    


padding:300px;

}
form{
    background: #fff;
    width:600px;
    height: 50px;
    display:flex;

}
form input{
    flex:1;
    border: none;
    

}
.wow{
    width: 250px;
    height:250px;
    perspective: 800px;
    margin-left: 50px;
    position: relative;
   margin-top: 10px;
   justify-content: center;
   align-items: center;
   
   
}



.wow:hover > .card{
    cursor: pointer;
    transform: rotateY(180deg);
    

}

.card{
    height: 100%;
    width:100%;
    position: relative;
    transition: transform 1500ms;
    transform-style:preserve-3d ;
    justify-content: center;
    
}

.front,
.back
{
    height: 90%;
    width:80%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50,50,50,0.25);
    position: absolute ;
    backface-visibility: hidden;
  
}
.front{
    background: linear-gradient(30deg,rgb(117, 119, 252),rgb(86, 241, 145));

    background-size: cover; 
    justify-content: center;

    align-items: center;

}

.front{
    text-align: center;
    font-family: 'Dancing Script', cursive; 
    text-decoration-color: blue; 
    font-weight: bolder;
    font-size: 10px;
    color:rgb(46, 0, 88);

}
.back{
    background-color: rgb(114, 252, 155);
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
     font-family:'Times New Roman', Times, serif;
     font-weight: 200;
     color: rgb(0, 0, 66);
    gap: 0rem;
    margin-left: 2px;
    margin-top: 10px;
 
}
.img1{
    margin-left: 50px;
    margin-top: 40px;
    width:10px;
    height:10px;
}
.bb{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio:16/9){
    .bb{
        width: 100%;
        height:auto;
    }

}

@media (max-aspect-ratio:16/9){
    .bb{
        width: auto;
        height:100%;
    }
}
.herobtn{
    display: inline-block;
    text-decoration: none;
    background-color: #ff723b;
    border: 1px solif #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor:pointer;
   
}
.redbtn{
    border:1px solid#fafafa;
    background: transparent;
    color: #ffffff;
  }

  .redbtn:hover{
    color:#d40000;
  }
 .card{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
    gap:10px;
  }
.ggg{
    background:linear-gradient(30deg,rgb(255, 159, 70),rgb(243, 255, 74));
}
