*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
}
.container{
    max-width: 650px;
    padding: 100px;
    margin:0 300px;
    box-shadow: 0 15px 20px #ABB2B9;

}
h2{
    font-size:26px;
    font-weight: 600;
    text-align: left;
    color: #2f4f4f;
    padding-bottom:8px;
    border-bottom:1px solid silver;
}

.content{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.input-box{
    display:flex;
    flex-wrap: wrap;
    width:50%;
    padding-bottom:20px;
}

.input-box:nth-child(2n){
    justify-content: end;

}
.input-box label,.gender-title{
    width: 95%;
    color: #2f4f4f;
    font-weight: bolder;
    margin:5px 0;
}
.gender-title{
    font-size: 16px;
}
.input-box{
    height: 60px;
    width:45%;
    padding:0 10px;
    border-radius: 1px solid #ccc;
    outline: none;
}
.input-box input:is(:focus,:valid){
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

.contain{
    width:100%;
    height:100vh;
  background: linear-gradient(30deg,rgb(255, 255, 255),rgb(0, 75, 0));
    background-size: cover;
    background-position: center;
    padding:0 8%;
    position: relative;
}
nav{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;

}
.logo h1{
    width:30px;
    cursor: pointer;
    color: #fff;
    font-size: 50px;
    font-weight: bolder;
    background-color: #fff;

}
.cart-icon{
    width:30px;
    cursor:pointer;
}
nav ul{
    flex:1;
    text-align: right;
    padding-right: 30px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin:10px 30px;
}


nav ul li a{
    color:#fff;
    text-decoration:none;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
   
}

nav ul li a::after{
    content:'';
    width:0;
    height:3px;
    position: absolute;
    bottom:-5px;
    left:50%;
    transform:translateX(-50%);
    background: #fff;
    transition: width 0.3s;
}

nav ul li a:hover::after
{
     width:50%;

}
.gender-category{
    color: #2f4f4f;

}
.gender-category label{
    padding: 0 20px 0 5px;
    font-size: 14px;

}

.gender-category label, .gender-category input{
    cursor: pointer;
}

.alert p{
    font-size: 14px;
    font-style: italic;
    color:black;
    margin:5px 0;
    padding: 10px;

}

.alert a{
    text-decoration: none;

}

.alert a:hover{
    text-decoration: underline;

}
.button-container{
    margin:15px 0;

}

.button-container button{
    width:100%;
    margin-top:10px;
    padding:10px;
    display:block;
    font-size: 20px;
    color:#fff;
    border:none;
    border-radius:5px;
    background-image: linear-gradient(to right, blue,green);
}

.button-container button:hover{
    background-image: linear-gradient(to right, blue,green);
}

@media(max-width:600px)
{
    .container{
        min-width:280px;
    }
    .content{
        max-height: 380px;
        overflow:auto;

    }
    .input-box{
        margin-bottom: 12px;
        width:100%;

    }
    .input-box:nth-child(2n){
        justify-content: space-between;

    }
    .gender-category{
        display: flex;
        justify-content: space-between;
        width:60%;
    }
    .content::-webkit-scrollbar{
        width:0;
    }
}
